<article class="option-card">
  <div class="option-card__header">
    <span class="option-card__icon">{{ icon }}</span>
    @if (badge) {
      <span class="pill">{{ badge }}</span>
    }
  </div>

  <h3>{{ title }}</h3>
  <p class="option-card__description">{{ description }}</p>

  <ul class="option-card__highlights">
    @for (highlight of highlights; track highlight) {
      <li>{{ highlight }}</li>
    }
  </ul>

  <a [routerLink]="route" class="button-primary option-card__cta">{{ ctaLabel }}</a>
</article>
